{% extends "base.html" %}

{% block content %}
    <div class="text-center mt-5">
      <h1>To-Do Lists</h1>
    </div>
    <hr>
    <div class="row">
      {% for note in notes %}
      <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3>{{ note.title }} <span class="badge badge-{{ note.get_label_display }}">{{ note.due_date }}</span></h3>
          <span><i class="fas fa-check"></i></span>
          <span><i class="fas fa-trash"></i></span>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock content %}
